RewriteEngine On

# Sirve archivos estáticos si existen
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demás pasa por el front-controller
RewriteRule ^ index.php [QSA,L]


